@model PaymentInfo
@using StarringJane.Worldline.Sips.Models;
@{
    ViewBag.Title = "Worldline Sips Test - Order paid";
}

<h1>Worldline Sips Test</h1>

<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <h2>Order paid</h2>
        </div>
    </div>
</div>